.profile-container {
  max-width: 500px;
  margin: 2rem auto;
  padding: 2.5rem;
  background: white;
  border-radius: 12px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.1);
  text-align: center;
}

.profile-container h2 {
  color: #4d4e50;
  margin-bottom: 1rem;
}

.logout-btn {
  background: #d32f2f;
  color: rgb(229, 168, 168);
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  font-size: 1.1rem;
  cursor: pointer;
  margin-top: 1rem;
}